<link href="components/navtabs/navtabs.css" rel="stylesheet" type="text/css">
<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active"><a ui-sref="courses" class="navtabs-link">Courses</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="students" class="navtabs-link">Students</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="recipes" class="navtabs-link">My Recipes</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="messages" class="navtabs-link">Messages</a></li>
</ul>