<title>ULMS Portal</title>
<link href="components/module/module.css" rel="stylesheet" type="text/css">

<baselayout>
      <h2>Course Module</h2>
      <div class="list-group">
	    <a ng-repeat="module in modules" ui-sref="module({id: '{{module.module_number}}'})" class="list-group-item">
	      <h4 class="list-group-item-heading">Module Name : {{module.title}}</h4>
	      <p>Recipe Link: {{module.recipe_link}}
	      <p>Published Date: {{module.date_published}}</p>
	    </a>
	  </div>
	  
	  </baselayout>