<!DOCTYPE html>

<header>
  <h1>messages</h1>
</header>
<script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>



<link href="components/messages/messages.css" rel="stylesheet" type="text/css">
<div class="mailbox">
  <div class="nav">
    <a href="http://localhost:8080/ulms#!/compose">compose</a>
    <a href="http://localhost:8080/ulms#!/messages" class="active">inbox</a>
    <a href="#">sent</a>
    <a href="#">trash</a>
  </div>
  <div class="messages">
        
    <div class="message">
      <span class="sender">Sender</span>
      <span class="date">Date</span>
      <span class="title">Subject</span>
    </div>
    
    <div>    
     	<div class="message" ng-repeat="messageData in unreadMessagesData">
      	<input type="checkbox" id = "messageData.id" ng-model="messageData.selected" />
	   	<a class="sender">{{messageData.user_name}}</a>
	   	<a class="date" >{{messageData.send_date | date:'yyyy-MM-dd HH:mm:ss'}}</a>
	  	<a class="title" ng-click="openMessage(messageData)" data-toggle="modal">{{messageData.subject}}</a>
    	</div>
    	<input type="button" value="DELETE" ng-click="deleteMessage(unreadMessagesData)"/>
    	
    </div>

  </div>




</div>
