<!DOCTYPE html>

<header>
  <h1>messages</h1>
</header>
<link href="components/messages/messages.css" rel="stylesheet" type="text/css">

<div class="mailbox">
  <div class="nav">
    <a href="compose.html">compose</a>
    <a href="messages/messages.html" class="active">inbox</a>
  </div>
  <div class="messages">
    <input type="button" value="DELETE" name="DELETEBTN"/>
   	<a ng-repeat="messageData in messagesData" class="list-group-item">
	   	<div class = "message">
		   	<input type="checkbox"/>
		   	<span class="sender">{{messageData.user_name}}</span>
		   	<span class="date">{{messageData.send_date}}</span>
		  	<span class="subject">{{messageData.subject}}</span>
	   	</div>
	</a>
    
  </div>
</div>
