<title>ULMS Portal</title>
<link href="components/login/login.css" rel="stylesheet" type="text/css">
<div class="loginbox">
    <img src="images/avatar.png" class="avatar">
    <h1></h1>
    <h1>Login Here</h1>
    <form ng-submit="submitLogin()">
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username" ng-model="loginForm.userName">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password" ng-model="loginForm.password">
        <input type="submit" name="" value="Login">
        <a href="#">Lost your password?</a><br>
        <a href="#">Don't have an account?</a>
    </form>
    
</div>