<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<title tiles:fragment="title">ULMS Portal</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<link href="/styles/login.css" rel="stylesheet" type="text/css">
<body>
	<div class="loginbox" tiles:fragment="content">
	    <img src="/images/avatar.png" class="avatar">
	    <h1></h1>
	    <h1>Login Here</h1>
	    <form name="submitForm" th:action="@{/login}" method="post">
            <div th:if="${param.logout}" class="alert alert-success"> 
                You have been logged out.
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">    
                Invalid username or password.
            </div>
	        <p>Username</p>
	        <input type="text" id="username" name="username" placeholder="Enter Username">
	        <p>Password</p>
	        <input type="password" id="password" name="password" placeholder="Enter Password">
	        <input type="submit" name="" value="Login">
	        <a href="#">Lost your password?</a><br>
	        <a href="#">Don't have an account?</a>
	    </form>
	</div>
</body>
</html>