<!DOCTYPE html>
<html ng-app="ULMS">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
  <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  
  <script src="app/app.js"></script>
  <script src="app/app.route.js"></script>

  <!--Components-->
  <script src="components/error/errorcomponent.js"></script>
  <script src="components/header/headercomponent.js"></script>
  <script src="components/footer/footercomponent.js"></script>
  <script src="components/navtabs/navtabscomponent.js"></script>
  <script src="components/logo/logocomponent.js"></script>
  <script src="components/baselayout/baselayoutcomponent.js"></script>
  <script src="components/login/logincomponent.js"></script>
  <!--
  <script src="components/recipes/recipescomponent.js"></script>
  <script src="components/recipe/recipecomponent.js"></script>
  -->
  <script src=components/studentList/studentListcomponent.js></script>
  <script src="components/student/studentcomponent.js"></script>
  <script src="components/courses/coursescomponent.js"></script>
  <script src="components/course/coursecomponent.js"></script>
  <script src="components/account/accountComponent.js"></script>
  <script src="components/module/modulecomponent.js"></script>
  <script src="components/moduleadd/moduleaddcomponent.js"></script>
  <script src="components/messages/messagescomponent.js"></script>
   <script src="components/messages/inboxcomponent.js"></script>
  
  <!-- Data Services -->
</head>

<body>
  <ui-view></ui-view>
</body>

</html>