<title>ULMS Portal</title>
<link href="components/course/course.css" rel="stylesheet"
	type="text/css">

<baselayout>

<h2>{{course.title}}</h2>
<a class="btn btn-success" ui-sref="moduleadd({id: course.id})" role="button">Add Module</a>

<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			<div ng-repeat="module in course.moduleEntity">
			
			<a class="btn btn-danger" ui-sref="deleteModule({id: module.moduleNumber})" role="button">Delete Module</a>
				<a href="{{module.recipeLink}}" target="_blank"
			       class="list-group-item">
					<h4 class="list-group-item-heading">Module Name : {{module.title}}</h4>
			        <p>Recipe Page: {{module.recipeLink}}</p>
			        <p>Published Date: {{module.datePublished}}</p>
				</a>
				
			</div>	
		</div>
	</div>
	<div class="col-md-4">
		<nav class="bs-docs-sidebar">
			<ul class="nav bs-docs-sidenav">
				<li><a ui-sref="student({id: course.id})" >Students</a></li>
				<li><a ui-sref="instructor({id: course.instructor_id})" >Instructor Details</a></li>
				<li><a href="{{course.syllabus}}" target="_blank">Syllabus</a></li>
			</ul>
		</nav>
	</div>
</div>
</baselayout>