.logo {
	text-align: center;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.col {
	padding-right: 0px;
	width: 20%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.logo-hr {
	margin-top: 0px;
	border-top: 2px solid #eee;
}

.nav-tabs {
	border-bottom: 0px;
	margin-left: 5px;
}