<link href="components/logo/logo.css" rel="stylesheet" type="text/css">
<div class="row align-items-end">
  <div class="col-md-4 col">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Courses</a></li>
      <li role="presentation"><a href="#">Students</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
  <div class="logo col-md-4 col"><img src="images/unizon-logo2.jpeg"></img></div>
  <div class="col-md-4 col"></div>
</div>
<hr class="logo-hr" />