<title>ULMS Portal</title>
<link href="components/moduleadd/moduleadd.css" rel="stylesheet"
	type="text/css">

<baselayout>
<div class="createModule">
    <h1>Create a new Module</h1>
    <div ng-show="" class="alert alert-danger" role="alert">
	  <p ng-show=""><strong></strong><span>Title is required</span></p>
	  <p ng-show=""><strong></strong>Date Published is required.</p>
	</div>
    <form name="addModuleForm" ng-submit="addModule()">
        <p>Title</p>
        <input type="text" name="title" placeholder="Enter Module Title" ng-model="createModuleForm.title">
        <p>Date Published</p>
        <input type="text" name="date_published" placeholder="Enter Date Published" ng-model="createModuleForm.datePublished">
        <p>Recipe Link</p>
        <input type="text" name="recipe_link" placeholder="Enter Recipe Link" ng-model="createModuleForm.recipeLink">
        <input type="submit" name="" value="create">
        <h6>*all the fields are mandatory</h6>
    </form>
</div>
</baselayout>